
/* Your CSS Code here. */
.holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: normal;
	align-items:center;
	gap:10px;
	padding: 20px;
	width: 100%;
}

.item  {
	height: 120px;
	width: 120px;
	background-color: green;
	font-size:30px;
	display: flex;
	justify-content: center;
	align-items: center;
}